/* Add your CSS Code here */
body {
	font-family: 'Shadows Into Light Two', cursive;
	background-image: url("http://www.desktopimages.org/pictures/2015/1105/1/light-blue-background-images-309191.jpg");

}

.thumbnail>img {
	width: 400;
}


.transparent {
	background-color: transparent;
	border-color: skyblue;
}