<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS --> 
  	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>
		ANENA
	</title>	
</head>

<body>
<h1>Food is good</h1>
<div class="row">
	<div class="col-md-6" >
		<div class="thumbnail transparent ">
			<img src="{{url_for('static' , filename='pic/food/israeldessert.jpg')}}">
			<form action="{{url_for('category_food')}}">
				<h3>can you guess the nationality?</h3><br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
			<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">back to category</a>

		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail transparent">
			<img src="{{url_for('static' , filename='pic/food/israelfood.jpg')}}">
			<form action="{{url_for('category_food')}}">
				<h3>can you guess the nationality?</h3><br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
			<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">back to category</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail transparent">
			<img src="{{url_for('static' , filename='pic/food/palestinedessert.jpg')}}">
			<form action="{{url_for('category_food')}}">
				<h3>can you guess the nationality?</h3> <br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
			<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">back to category</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail transparent">
			<img src="{{url_for('static' , filename='pic/food/Palestinefood.jpg')}}">
			<form action="{{url_for('category_food')}}">
				<h3>can you guess the nationality?</h3><br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
			<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">back to category</a>
		</div>
	</div>


</div>


<br>
<br><br><br><br><br>


</body>
</html>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="static/script.js"></script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<table id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Jane</th>
            <th>John</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Apples</th>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <th>Pears</th>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr>
            <th>Plums</th>
            <td>5</td>
            <td>11</td>
        </tr>
        <tr>
            <th>Bananas</th>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th>Oranges</th>
            <td>2</td>
            <td>4</td>
        </tr>
    </tbody>
</table>