<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>
		ANENA
	</title>	

</head>

<body>
<h1>Activity is good</h1>
<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/israel.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/palestine.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/israelbowling.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/palestinebowling.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>



	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/israelcinema.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/palestinecinema.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/israelhotel.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<img src="{{url_for('static' , filename='pic/activity/palestinehotel.jpg')}}">
			<form action="{{url_for('category_activity')}}" method="post">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>

</div>








</body>
</html>
