<!DOCTYPE html>
<html>
<head>
	
  <!-- Latest compiled and minified CSS --> 
	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>
		ANENA
	</title>	

</head>

<body>
<div class="container-fluid">
<h1>Food is good</h1>
<div class="row">
{%for pic in pics%}
	<div class="col-md-6">
		<div class="thumbnail transparent">
			<img src="{{url_for('static' , filename=pic.path)}}">
			<form action="{{url_for('category_food')}}">
				can you guess the nationality?<br>
				<input type="radio" name="nationality" value="israeli">israeli<br>
				<input type="radio" name="nationality" value="palestionian">palestinian<br>
				<input type="submit" name="submit" value="submit">
			</form>
			<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">back to category</a>

		</div>
	</div>
{%endfor%}

</div>


</div>










</body>
</html>

