<!DOCTYPE html>
<html>
<head>
   
  <!-- Latest compiled and minified CSS -->
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>
        PicPeace - {{category_name.capitalize()}}
    </title>   

</head>

 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">We are PicPeace</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main_page') }}">Home</a></li>
              <li><a href="{{ url_for('aboutus') }}">About</a></li> 
              <li><a href="{{ url_for('survey') }}">Survey</a></li>
              
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catagories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('category', category_name='education') }}">Education</a></li>
                  <li><a href="{{ url_for('category', category_name='food') }}">Food</a></li>
                  <li><a href="{{ url_for('category', category_name='activity') }}">Activity</a></li>
                  <li><a href="{{ url_for('category', category_name='meaningful') }}">Meaningful</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
            
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      

<body><br><br>

<div class="container-fluid">
<h1>{{category_name.capitalize()}}</h1>
<div class="row">
{%for pic in pics%}

   
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail transparent">
            <a href="{{url_for('pictures', pic_id= pic.id, category_name=pic.category)}}"><img src="{{url_for('static' , filename=pic.path)}}" class="web_app_img"></a>

            <a href="{{url_for('pictures', pic_id= pic.id, category_name=pic.category)}}" class="btn btn-info" role="button">Continue to Questions</a>

        </div>
    </div>

{%endfor%}

</div>


</div>