<!DOCTYPE html>
<html>
<head>
  <title>
    ANEMA
  </title>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
  <h1>  We are ANEMA </h1> 
<br>
<br>
<br>



<div class="container-fluid">
<div class="row">
{%for pic in pics%}
  <div class="col-md-4">
    <div class="thumbnail transparent">
      <img src="{{ url_for('static', filename=pic.path) }}"
        <div class="caption">
        <h3>{{pic.category.capitalize()}}</h3>
        <p>
        <a href="{{url_for('category', category_name=pic.category)}}  " class="btn btn-primary" role="button">Enter</a>
        </p>
      </div>
      </div>
      

{%endfor%}
</div>
</div>
</body>


</html>
