<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS --> 
	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">We are PicPeace</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main_page') }}">Home</a></li>
              <li><a href="{{ url_for('aboutus') }}">About</a></li> 
              <li><a href="{{ url_for('survey') }}">Survey</a></li>
              
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catagories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('category', category_name='education') }}">Education</a></li>
                  <li><a href="{{ url_for('category', category_name='food') }}">Food</a></li>
                  <li><a href="{{ url_for('category', category_name='activity') }}">Activity</a></li>
                  <li><a href="{{ url_for('category', category_name='meaningful') }}">Meaningful</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
            
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


	<div class="container-fluid">
		<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{url_for ('static' , filename=pic1.path)}}">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{url_for ('static' , filename=pic2.path)}}">
      <div class="caption">
      </div>
    </div>
  </div>
  </div>
  <br/>
  {% for q in questions%}
<h2>{{q.text}}</h2>
<table border="2">
    <tr>
      <th>Answer</th> 
      <th>Percentage</th> 
      
    </tr>

    <tr>
      <td> {{q.a1}}</td>
      <td>{{stats[q.id]['a1']}}%</td>
    </tr>

    <tr>
      <td> {{q.a2}}</td>
      <td>{{stats[q.id]['a2']}}%</td>
    </tr>

    <tr>
      <td> {{q.a3}}</td>
      <td>{{stats[q.id]['a3']}}%</td>
    </tr>

    <tr>
      <td> {{q.a4}}</td>
      <td>{{stats[q.id]['a4']}}%</td>
    </tr>

    <tr>
      <td> {{q.a5}}</td>
      <td>{{stats[q.id]['a5']}}%</td>
    </tr>
  </table>



  {%endfor%}
  
	</div>
Stereotype:  Religious people from Israel and Palestine are racist people.
This stereotype is popular, and alot of people think its true, but the truth is religious people - real religious people who love god and follow everything he said- love all people from all religions! racism is NOT  connected to religion.


</body>
</html>