<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Website Font style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Admin</title>
  </head>
  <body>
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">We are PicPeace</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('main_page') }}">Home</a></li>
              <li><a href="{{ url_for('aboutus') }}">About</a></li> 
              <li class="active"><a href="{{ url_for('survey') }}">Survey</a></li>
              
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catagories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('category', category_name='education') }}">Education</a></li>
                  <li><a href="{{ url_for('category', category_name='food') }}">Food</a></li>
                  <li><a href="{{ url_for('category', category_name='activity') }}">Activity</a></li>
                  <li><a href="{{ url_for('category', category_name='meaningful') }}">Meaningful</a></li>
                  <li role="separator" class="divider"></li>
                </ul>
              </li>
            
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  <div class="thumbnail" align="center">
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Survey</h1>
                    <hr />
                  
               
<div class="main-login main-center">
          <form class="form-horizontal" method="post" action="{{url_for('submit_survey', pair_id=pair_id)}}">
            What is your nationality?<br>
            <div class="row"> 
            <div class="form-group">
              <div class="col-md-3"> </div>
              <div class="col-md-6"> 
                <select id="selectbasic" name="nationality" class="form-control">
                  <option value="Israeli">Israeli</option>
                  <option value="Palestinian">Palestinian</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
</div></div>
            <br><br>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label for="name" class="cols-sm-2 control-label">Your Phone Number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>   
                  
                  <input name="phone" id="phonenum" class="form-control" type="tel" pattern="^\d{3}-\d{7}$" required placeholder="Enter Phone Number (format: xxx-xxxxxxx)">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="email" class="form-control" name="email" required placeholder="Enter Valid Email(format: exampleaccount@example.example">

                </div>
              </div>
            </div>
            <br>
            Did you enjoy the website?<br>
            <div class="row"> 
            <div class="form-group">
              <div class="col-md-3"> </div>
              <div class="col-md-6"> 
                <select id="selectbasic" name="enjoy" class="form-control">
                  <option value="6">Very much!</option>
                  <option value="5">Yes!</option>
                  <option value="4">I Was OK</option>
                  <option value="3">Not So Much</option>
                  <option value="2">I Didn't Enjoy</option>
                  <option value="1">Other</option>
                </select>
              </div>
            </div></div>
            <br>
            <div class="form-group">
              <label for="feedback" class="cols-sm-2 control-label">Your Feedback</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-heart fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="feedback" id="feedback"  placeholder="Enter your feedback"/>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
</div>
</div>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

  </body>
</html>
